.container {
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}
@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -15px;
}
.row > [class^="col-"] {
  flex: 0 0 auto;
}
.row > * {
  flex-shrink: 0;
  width: 100%;
  max-width: 100%;
  padding: 0 15px;
}
@media (min-width: 0) {
  .row-cols-xs-1 > *,
  .row-cols-1 > * {
    flex: 0 0 auto;
    width: 100%;
  }
  .row-cols-xs-2 > *,
  .row-cols-2 > * {
    flex: 0 0 auto;
    width: 50%;
  }
  .row-cols-xs-3 > *,
  .row-cols-3 > * {
    flex: 0 0 auto;
    width: 33.33333%;
  }
  .row-cols-xs-4 > *,
  .row-cols-4 > * {
    flex: 0 0 auto;
    width: 25%;
  }
  .row-cols-xs-5 > *,
  .row-cols-5 > * {
    flex: 0 0 auto;
    width: 20%;
  }
  .row-cols-xs-6 > *,
  .row-cols-6 > * {
    flex: 0 0 auto;
    width: 16.66667%;
  }
}
@media (min-width: 576px) {
  .row-cols-sm-1 > * {
    flex: 0 0 auto;
    width: 100%;
  }
  .row-cols-sm-2 > * {
    flex: 0 0 auto;
    width: 50%;
  }
  .row-cols-sm-3 > * {
    flex: 0 0 auto;
    width: 33.33333%;
  }
  .row-cols-sm-4 > * {
    flex: 0 0 auto;
    width: 25%;
  }
  .row-cols-sm-5 > * {
    flex: 0 0 auto;
    width: 20%;
  }
  .row-cols-sm-6 > * {
    flex: 0 0 auto;
    width: 16.66667%;
  }
}
@media (min-width: 768px) {
  .row-cols-md-1 > * {
    flex: 0 0 auto;
    width: 100%;
  }
  .row-cols-md-2 > * {
    flex: 0 0 auto;
    width: 50%;
  }
  .row-cols-md-3 > * {
    flex: 0 0 auto;
    width: 33.33333%;
  }
  .row-cols-md-4 > * {
    flex: 0 0 auto;
    width: 25%;
  }
  .row-cols-md-5 > * {
    flex: 0 0 auto;
    width: 20%;
  }
  .row-cols-md-6 > * {
    flex: 0 0 auto;
    width: 16.66667%;
  }
}
@media (min-width: 992px) {
  .row-cols-lg-1 > * {
    flex: 0 0 auto;
    width: 100%;
  }
  .row-cols-lg-2 > * {
    flex: 0 0 auto;
    width: 50%;
  }
  .row-cols-lg-3 > * {
    flex: 0 0 auto;
    width: 33.33333%;
  }
  .row-cols-lg-4 > * {
    flex: 0 0 auto;
    width: 25%;
  }
  .row-cols-lg-5 > * {
    flex: 0 0 auto;
    width: 20%;
  }
  .row-cols-lg-6 > * {
    flex: 0 0 auto;
    width: 16.66667%;
  }
}
@media (min-width: 1200px) {
  .row-cols-xl-1 > * {
    flex: 0 0 auto;
    width: 100%;
  }
  .row-cols-xl-2 > * {
    flex: 0 0 auto;
    width: 50%;
  }
  .row-cols-xl-3 > * {
    flex: 0 0 auto;
    width: 33.33333%;
  }
  .row-cols-xl-4 > * {
    flex: 0 0 auto;
    width: 25%;
  }
  .row-cols-xl-5 > * {
    flex: 0 0 auto;
    width: 20%;
  }
  .row-cols-xl-6 > * {
    flex: 0 0 auto;
    width: 16.66667%;
  }
}
@media (min-width: 1400px) {
  .row-cols-xxl-1 > * {
    flex: 0 0 auto;
    width: 100%;
  }
  .row-cols-xxl-2 > * {
    flex: 0 0 auto;
    width: 50%;
  }
  .row-cols-xxl-3 > * {
    flex: 0 0 auto;
    width: 33.33333%;
  }
  .row-cols-xxl-4 > * {
    flex: 0 0 auto;
    width: 25%;
  }
  .row-cols-xxl-5 > * {
    flex: 0 0 auto;
    width: 20%;
  }
  .row-cols-xxl-6 > * {
    flex: 0 0 auto;
    width: 16.66667%;
  }
}

@media (min-width: 0) {
  .col-1,
  .col-xs-1 {
    width: 8.33333%;
  }
  .col-2,
  .col-xs-2 {
    width: 16.66667%;
  }
  .col-3,
  .col-xs-3 {
    width: 25%;
  }
  .col-4,
  .col-xs-4 {
    width: 33.33333%;
  }
  .col-5,
  .col-xs-5 {
    width: 41.66667%;
  }
  .col-6,
  .col-xs-6 {
    width: 50%;
  }
  .col-7,
  .col-xs-7 {
    width: 58.33333%;
  }
  .col-8,
  .col-xs-8 {
    width: 66.66667%;
  }
  .col-9,
  .col-xs-9 {
    width: 75%;
  }
  .col-10,
  .col-xs-10 {
    width: 83.33333%;
  }
  .col-11,
  .col-xs-11 {
    width: 91.66667%;
  }
  .col-12,
  .col-xs-12 {
    width: 100%;
  }
}

@media (min-width: 576px) {
  .col-sm-1 {
    width: 8.33333%;
  }
  .col-sm-2 {
    width: 16.66667%;
  }
  .col-sm-3 {
    width: 25%;
  }
  .col-sm-4 {
    width: 33.33333%;
  }
  .col-sm-5 {
    width: 41.66667%;
  }
  .col-sm-6 {
    width: 50%;
  }
  .col-sm-7 {
    width: 58.33333%;
  }
  .col-sm-8 {
    width: 66.66667%;
  }
  .col-sm-9 {
    width: 75%;
  }
  .col-sm-10 {
    width: 83.33333%;
  }
  .col-sm-11 {
    width: 91.66667%;
  }
  .col-sm-12 {
    width: 100%;
  }
}

@media (min-width: 768px) {
  .col-md-1 {
    width: 8.33333%;
  }
  .col-md-2 {
    width: 16.66667%;
  }
  .col-md-3 {
    width: 25%;
  }
  .col-md-4 {
    width: 33.33333%;
  }
  .col-md-5 {
    width: 41.66667%;
  }
  .col-md-6 {
    width: 50%;
  }
  .col-md-7 {
    width: 58.33333%;
  }
  .col-md-8 {
    width: 66.66667%;
  }
  .col-md-9 {
    width: 75%;
  }
  .col-md-10 {
    width: 83.33333%;
  }
  .col-md-11 {
    width: 91.66667%;
  }
  .col-md-12 {
    width: 100%;
  }
}

@media (min-width: 992px) {
  .col-lg-1 {
    width: 8.33333%;
  }
  .col-lg-2 {
    width: 16.66667%;
  }
  .col-lg-3 {
    width: 25%;
  }
  .col-lg-4 {
    width: 33.33333%;
  }
  .col-lg-5 {
    width: 41.66667%;
  }
  .col-lg-6 {
    width: 50%;
  }
  .col-lg-7 {
    width: 58.33333%;
  }
  .col-lg-8 {
    width: 66.66667%;
  }
  .col-lg-9 {
    width: 75%;
  }
  .col-lg-10 {
    width: 83.33333%;
  }
  .col-lg-11 {
    width: 91.66667%;
  }
  .col-lg-12 {
    width: 100%;
  }
}

@media (min-width: 1200px) {
  .col-xl-1 {
    width: 8.33333%;
  }
  .col-xl-2 {
    width: 16.66667%;
  }
  .col-xl-3 {
    width: 25%;
  }
  .col-xl-4 {
    width: 33.33333%;
  }
  .col-xl-5 {
    width: 41.66667%;
  }
  .col-xl-6 {
    width: 50%;
  }
  .col-xl-7 {
    width: 58.33333%;
  }
  .col-xl-8 {
    width: 66.66667%;
  }
  .col-xl-9 {
    width: 75%;
  }
  .col-xl-10 {
    width: 83.33333%;
  }
  .col-xl-11 {
    width: 91.66667%;
  }
  .col-xl-12 {
    width: 100%;
  }
}

@media (min-width: 1400px) {
  .col-xxl-1 {
    width: 8.33333%;
  }
  .col-xxl-2 {
    width: 16.66667%;
  }
  .col-xxl-3 {
    width: 25%;
  }
  .col-xxl-4 {
    width: 33.33333%;
  }
  .col-xxl-5 {
    width: 41.66667%;
  }
  .col-xxl-6 {
    width: 50%;
  }
  .col-xxl-7 {
    width: 58.33333%;
  }
  .col-xxl-8 {
    width: 66.66667%;
  }
  .col-xxl-9 {
    width: 75%;
  }
  .col-xxl-10 {
    width: 83.33333%;
  }
  .col-xxl-11 {
    width: 91.66667%;
  }
  .col-xxl-12 {
    width: 100%;
  }
}

@media (min-width: 0) {
  .mt-0,
  .mt-xs-0 {
    margin-top: 0;
  }
  .mt-1,
  .mt-xs-1 {
    margin-top: 0.25rem;
  }
  .mt-2,
  .mt-xs-2 {
    margin-top: 0.5rem;
  }
  .mt-3,
  .mt-xs-3 {
    margin-top: 1rem;
  }
  .mt-4,
  .mt-xs-4 {
    margin-top: 1.5rem;
  }
  .mt-5,
  .mt-xs-5 {
    margin-top: 3rem;
  }
  .mt-auto,
  .mt-xs-auto {
    margin-top: auto;
  }
  .mb-0,
  .mb-xs-0 {
    margin-bottom: 0;
  }
  .mb-1,
  .mb-xs-1 {
    margin-bottom: 0.25rem;
  }
  .mb-2,
  .mb-xs-2 {
    margin-bottom: 0.5rem;
  }
  .mb-3,
  .mb-xs-3 {
    margin-bottom: 1rem;
  }
  .mb-4,
  .mb-xs-4 {
    margin-bottom: 1.5rem;
  }
  .mb-5,
  .mb-xs-5 {
    margin-bottom: 3rem;
  }
  .mb-auto,
  .mb-xs-auto {
    margin-bottom: auto;
  }
  .ms-0,
  .ms-xs-0 {
    margin-left: 0;
  }
  .ms-1,
  .ms-xs-1 {
    margin-left: 0.25rem;
  }
  .ms-2,
  .ms-xs-2 {
    margin-left: 0.5rem;
  }
  .ms-3,
  .ms-xs-3 {
    margin-left: 1rem;
  }
  .ms-4,
  .ms-xs-4 {
    margin-left: 1.5rem;
  }
  .ms-5,
  .ms-xs-5 {
    margin-left: 3rem;
  }
  .ms-auto,
  .ms-xs-auto {
    margin-left: auto;
  }
  .me-0,
  .me-xs-0 {
    margin-right: 0;
  }
  .me-1,
  .me-xs-1 {
    margin-right: 0.25rem;
  }
  .me-2,
  .me-xs-2 {
    margin-right: 0.5rem;
  }
  .me-3,
  .me-xs-3 {
    margin-right: 1rem;
  }
  .me-4,
  .me-xs-4 {
    margin-right: 1.5rem;
  }
  .me-5,
  .me-xs-5 {
    margin-right: 3rem;
  }
  .me-auto,
  .me-xs-auto {
    margin-right: auto;
  }
  .mx-0,
  .mx-xs-0,
  .m-0,
  .m-xs-0 {
    margin-left: 0;
    margin-right: 0;
  }
  .mx-1,
  .mx-xs-1,
  .m-1,
  .m-xs-1 {
    margin-left: 0.25rem;
    margin-right: 0.25rem;
  }
  .mx-2,
  .mx-xs-2,
  .m-2,
  .m-xs-2 {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
  }
  .mx-3,
  .mx-xs-3,
  .m-3,
  .m-xs-3 {
    margin-left: 1rem;
    margin-right: 1rem;
  }
  .mx-4,
  .mx-xs-4,
  .m-4,
  .m-xs-4 {
    margin-left: 1.5rem;
    margin-right: 1.5rem;
  }
  .mx-5,
  .mx-xs-5,
  .m-5,
  .m-xs-5 {
    margin-left: 3rem;
    margin-right: 3rem;
  }
  .mx-auto,
  .mx-xs-auto,
  .m-auto,
  .m-xs-auto {
    margin-left: auto;
    margin-right: auto;
  }
  .my-0,
  .my-xs-0,
  .m-0,
  .m-xs-0 {
    margin-top: 0;
    margin-bottom: 0;
  }
  .my-1,
  .my-xs-1,
  .m-1,
  .m-xs-1 {
    margin-top: 0.25rem;
    margin-bottom: 0.25rem;
  }
  .my-2,
  .my-xs-2,
  .m-2,
  .m-xs-2 {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
  }
  .my-3,
  .my-xs-3,
  .m-3,
  .m-xs-3 {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
  .my-4,
  .my-xs-4,
  .m-4,
  .m-xs-4 {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
  }
  .my-5,
  .my-xs-5,
  .m-5,
  .m-xs-5 {
    margin-top: 3rem;
    margin-bottom: 3rem;
  }
  .my-auto,
  .my-xs-auto,
  .m-auto,
  .m-xs-auto {
    margin-top: auto;
    margin-bottom: auto;
  }
}

@media (min-width: 576px) {
  .mt-sm-0 {
    margin-top: 0;
  }
  .mt-sm-1 {
    margin-top: 0.25rem;
  }
  .mt-sm-2 {
    margin-top: 0.5rem;
  }
  .mt-sm-3 {
    margin-top: 1rem;
  }
  .mt-sm-4 {
    margin-top: 1.5rem;
  }
  .mt-sm-5 {
    margin-top: 3rem;
  }
  .mt-sm-auto {
    margin-top: auto;
  }
  .mb-sm-0 {
    margin-bottom: 0;
  }
  .mb-sm-1 {
    margin-bottom: 0.25rem;
  }
  .mb-sm-2 {
    margin-bottom: 0.5rem;
  }
  .mb-sm-3 {
    margin-bottom: 1rem;
  }
  .mb-sm-4 {
    margin-bottom: 1.5rem;
  }
  .mb-sm-5 {
    margin-bottom: 3rem;
  }
  .mb-sm-auto {
    margin-bottom: auto;
  }
  .ms-sm-0 {
    margin-left: 0;
  }
  .ms-sm-1 {
    margin-left: 0.25rem;
  }
  .ms-sm-2 {
    margin-left: 0.5rem;
  }
  .ms-sm-3 {
    margin-left: 1rem;
  }
  .ms-sm-4 {
    margin-left: 1.5rem;
  }
  .ms-sm-5 {
    margin-left: 3rem;
  }
  .ms-sm-auto {
    margin-left: auto;
  }
  .me-sm-0 {
    margin-right: 0;
  }
  .me-sm-1 {
    margin-right: 0.25rem;
  }
  .me-sm-2 {
    margin-right: 0.5rem;
  }
  .me-sm-3 {
    margin-right: 1rem;
  }
  .me-sm-4 {
    margin-right: 1.5rem;
  }
  .me-sm-5 {
    margin-right: 3rem;
  }
  .me-sm-auto {
    margin-right: auto;
  }
  .mx-sm-0,
  .m-sm-0 {
    margin-left: 0;
    margin-right: 0;
  }
  .mx-sm-1,
  .m-sm-1 {
    margin-left: 0.25rem;
    margin-right: 0.25rem;
  }
  .mx-sm-2,
  .m-sm-2 {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
  }
  .mx-sm-3,
  .m-sm-3 {
    margin-left: 1rem;
    margin-right: 1rem;
  }
  .mx-sm-4,
  .m-sm-4 {
    margin-left: 1.5rem;
    margin-right: 1.5rem;
  }
  .mx-sm-5,
  .m-sm-5 {
    margin-left: 3rem;
    margin-right: 3rem;
  }
  .mx-sm-auto,
  .m-sm-auto {
    margin-left: auto;
    margin-right: auto;
  }
  .my-sm-0,
  .m-sm-0 {
    margin-top: 0;
    margin-bottom: 0;
  }
  .my-sm-1,
  .m-sm-1 {
    margin-top: 0.25rem;
    margin-bottom: 0.25rem;
  }
  .my-sm-2,
  .m-sm-2 {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
  }
  .my-sm-3,
  .m-sm-3 {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
  .my-sm-4,
  .m-sm-4 {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
  }
  .my-sm-5,
  .m-sm-5 {
    margin-top: 3rem;
    margin-bottom: 3rem;
  }
  .my-sm-auto,
  .m-sm-auto {
    margin-top: auto;
    margin-bottom: auto;
  }
}

@media (min-width: 768px) {
  .mt-md-0 {
    margin-top: 0;
  }
  .mt-md-1 {
    margin-top: 0.25rem;
  }
  .mt-md-2 {
    margin-top: 0.5rem;
  }
  .mt-md-3 {
    margin-top: 1rem;
  }
  .mt-md-4 {
    margin-top: 1.5rem;
  }
  .mt-md-5 {
    margin-top: 3rem;
  }
  .mt-md-auto {
    margin-top: auto;
  }
  .mb-md-0 {
    margin-bottom: 0;
  }
  .mb-md-1 {
    margin-bottom: 0.25rem;
  }
  .mb-md-2 {
    margin-bottom: 0.5rem;
  }
  .mb-md-3 {
    margin-bottom: 1rem;
  }
  .mb-md-4 {
    margin-bottom: 1.5rem;
  }
  .mb-md-5 {
    margin-bottom: 3rem;
  }
  .mb-md-auto {
    margin-bottom: auto;
  }
  .ms-md-0 {
    margin-left: 0;
  }
  .ms-md-1 {
    margin-left: 0.25rem;
  }
  .ms-md-2 {
    margin-left: 0.5rem;
  }
  .ms-md-3 {
    margin-left: 1rem;
  }
  .ms-md-4 {
    margin-left: 1.5rem;
  }
  .ms-md-5 {
    margin-left: 3rem;
  }
  .ms-md-auto {
    margin-left: auto;
  }
  .me-md-0 {
    margin-right: 0;
  }
  .me-md-1 {
    margin-right: 0.25rem;
  }
  .me-md-2 {
    margin-right: 0.5rem;
  }
  .me-md-3 {
    margin-right: 1rem;
  }
  .me-md-4 {
    margin-right: 1.5rem;
  }
  .me-md-5 {
    margin-right: 3rem;
  }
  .me-md-auto {
    margin-right: auto;
  }
  .mx-md-0,
  .m-md-0 {
    margin-left: 0;
    margin-right: 0;
  }
  .mx-md-1,
  .m-md-1 {
    margin-left: 0.25rem;
    margin-right: 0.25rem;
  }
  .mx-md-2,
  .m-md-2 {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
  }
  .mx-md-3,
  .m-md-3 {
    margin-left: 1rem;
    margin-right: 1rem;
  }
  .mx-md-4,
  .m-md-4 {
    margin-left: 1.5rem;
    margin-right: 1.5rem;
  }
  .mx-md-5,
  .m-md-5 {
    margin-left: 3rem;
    margin-right: 3rem;
  }
  .mx-md-auto,
  .m-md-auto {
    margin-left: auto;
    margin-right: auto;
  }
  .my-md-0,
  .m-md-0 {
    margin-top: 0;
    margin-bottom: 0;
  }
  .my-md-1,
  .m-md-1 {
    margin-top: 0.25rem;
    margin-bottom: 0.25rem;
  }
  .my-md-2,
  .m-md-2 {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
  }
  .my-md-3,
  .m-md-3 {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
  .my-md-4,
  .m-md-4 {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
  }
  .my-md-5,
  .m-md-5 {
    margin-top: 3rem;
    margin-bottom: 3rem;
  }
  .my-md-auto,
  .m-md-auto {
    margin-top: auto;
    margin-bottom: auto;
  }
}

@media (min-width: 992px) {
  .mt-lg-0 {
    margin-top: 0;
  }
  .mt-lg-1 {
    margin-top: 0.25rem;
  }
  .mt-lg-2 {
    margin-top: 0.5rem;
  }
  .mt-lg-3 {
    margin-top: 1rem;
  }
  .mt-lg-4 {
    margin-top: 1.5rem;
  }
  .mt-lg-5 {
    margin-top: 3rem;
  }
  .mt-lg-auto {
    margin-top: auto;
  }
  .mb-lg-0 {
    margin-bottom: 0;
  }
  .mb-lg-1 {
    margin-bottom: 0.25rem;
  }
  .mb-lg-2 {
    margin-bottom: 0.5rem;
  }
  .mb-lg-3 {
    margin-bottom: 1rem;
  }
  .mb-lg-4 {
    margin-bottom: 1.5rem;
  }
  .mb-lg-5 {
    margin-bottom: 3rem;
  }
  .mb-lg-auto {
    margin-bottom: auto;
  }
  .ms-lg-0 {
    margin-left: 0;
  }
  .ms-lg-1 {
    margin-left: 0.25rem;
  }
  .ms-lg-2 {
    margin-left: 0.5rem;
  }
  .ms-lg-3 {
    margin-left: 1rem;
  }
  .ms-lg-4 {
    margin-left: 1.5rem;
  }
  .ms-lg-5 {
    margin-left: 3rem;
  }
  .ms-lg-auto {
    margin-left: auto;
  }
  .me-lg-0 {
    margin-right: 0;
  }
  .me-lg-1 {
    margin-right: 0.25rem;
  }
  .me-lg-2 {
    margin-right: 0.5rem;
  }
  .me-lg-3 {
    margin-right: 1rem;
  }
  .me-lg-4 {
    margin-right: 1.5rem;
  }
  .me-lg-5 {
    margin-right: 3rem;
  }
  .me-lg-auto {
    margin-right: auto;
  }
  .mx-lg-0,
  .m-lg-0 {
    margin-left: 0;
    margin-right: 0;
  }
  .mx-lg-1,
  .m-lg-1 {
    margin-left: 0.25rem;
    margin-right: 0.25rem;
  }
  .mx-lg-2,
  .m-lg-2 {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
  }
  .mx-lg-3,
  .m-lg-3 {
    margin-left: 1rem;
    margin-right: 1rem;
  }
  .mx-lg-4,
  .m-lg-4 {
    margin-left: 1.5rem;
    margin-right: 1.5rem;
  }
  .mx-lg-5,
  .m-lg-5 {
    margin-left: 3rem;
    margin-right: 3rem;
  }
  .mx-lg-auto,
  .m-lg-auto {
    margin-left: auto;
    margin-right: auto;
  }
  .my-lg-0,
  .m-lg-0 {
    margin-top: 0;
    margin-bottom: 0;
  }
  .my-lg-1,
  .m-lg-1 {
    margin-top: 0.25rem;
    margin-bottom: 0.25rem;
  }
  .my-lg-2,
  .m-lg-2 {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
  }
  .my-lg-3,
  .m-lg-3 {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
  .my-lg-4,
  .m-lg-4 {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
  }
  .my-lg-5,
  .m-lg-5 {
    margin-top: 3rem;
    margin-bottom: 3rem;
  }
  .my-lg-auto,
  .m-lg-auto {
    margin-top: auto;
    margin-bottom: auto;
  }
}

@media (min-width: 1200px) {
  .mt-xl-0 {
    margin-top: 0;
  }
  .mt-xl-1 {
    margin-top: 0.25rem;
  }
  .mt-xl-2 {
    margin-top: 0.5rem;
  }
  .mt-xl-3 {
    margin-top: 1rem;
  }
  .mt-xl-4 {
    margin-top: 1.5rem;
  }
  .mt-xl-5 {
    margin-top: 3rem;
  }
  .mt-xl-auto {
    margin-top: auto;
  }
  .mb-xl-0 {
    margin-bottom: 0;
  }
  .mb-xl-1 {
    margin-bottom: 0.25rem;
  }
  .mb-xl-2 {
    margin-bottom: 0.5rem;
  }
  .mb-xl-3 {
    margin-bottom: 1rem;
  }
  .mb-xl-4 {
    margin-bottom: 1.5rem;
  }
  .mb-xl-5 {
    margin-bottom: 3rem;
  }
  .mb-xl-auto {
    margin-bottom: auto;
  }
  .ms-xl-0 {
    margin-left: 0;
  }
  .ms-xl-1 {
    margin-left: 0.25rem;
  }
  .ms-xl-2 {
    margin-left: 0.5rem;
  }
  .ms-xl-3 {
    margin-left: 1rem;
  }
  .ms-xl-4 {
    margin-left: 1.5rem;
  }
  .ms-xl-5 {
    margin-left: 3rem;
  }
  .ms-xl-auto {
    margin-left: auto;
  }
  .me-xl-0 {
    margin-right: 0;
  }
  .me-xl-1 {
    margin-right: 0.25rem;
  }
  .me-xl-2 {
    margin-right: 0.5rem;
  }
  .me-xl-3 {
    margin-right: 1rem;
  }
  .me-xl-4 {
    margin-right: 1.5rem;
  }
  .me-xl-5 {
    margin-right: 3rem;
  }
  .me-xl-auto {
    margin-right: auto;
  }
  .mx-xl-0,
  .m-xl-0 {
    margin-left: 0;
    margin-right: 0;
  }
  .mx-xl-1,
  .m-xl-1 {
    margin-left: 0.25rem;
    margin-right: 0.25rem;
  }
  .mx-xl-2,
  .m-xl-2 {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
  }
  .mx-xl-3,
  .m-xl-3 {
    margin-left: 1rem;
    margin-right: 1rem;
  }
  .mx-xl-4,
  .m-xl-4 {
    margin-left: 1.5rem;
    margin-right: 1.5rem;
  }
  .mx-xl-5,
  .m-xl-5 {
    margin-left: 3rem;
    margin-right: 3rem;
  }
  .mx-xl-auto,
  .m-xl-auto {
    margin-left: auto;
    margin-right: auto;
  }
  .my-xl-0,
  .m-xl-0 {
    margin-top: 0;
    margin-bottom: 0;
  }
  .my-xl-1,
  .m-xl-1 {
    margin-top: 0.25rem;
    margin-bottom: 0.25rem;
  }
  .my-xl-2,
  .m-xl-2 {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
  }
  .my-xl-3,
  .m-xl-3 {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
  .my-xl-4,
  .m-xl-4 {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
  }
  .my-xl-5,
  .m-xl-5 {
    margin-top: 3rem;
    margin-bottom: 3rem;
  }
  .my-xl-auto,
  .m-xl-auto {
    margin-top: auto;
    margin-bottom: auto;
  }
}

@media (min-width: 1400px) {
  .mt-xxl-0 {
    margin-top: 0;
  }
  .mt-xxl-1 {
    margin-top: 0.25rem;
  }
  .mt-xxl-2 {
    margin-top: 0.5rem;
  }
  .mt-xxl-3 {
    margin-top: 1rem;
  }
  .mt-xxl-4 {
    margin-top: 1.5rem;
  }
  .mt-xxl-5 {
    margin-top: 3rem;
  }
  .mt-xxl-auto {
    margin-top: auto;
  }
  .mb-xxl-0 {
    margin-bottom: 0;
  }
  .mb-xxl-1 {
    margin-bottom: 0.25rem;
  }
  .mb-xxl-2 {
    margin-bottom: 0.5rem;
  }
  .mb-xxl-3 {
    margin-bottom: 1rem;
  }
  .mb-xxl-4 {
    margin-bottom: 1.5rem;
  }
  .mb-xxl-5 {
    margin-bottom: 3rem;
  }
  .mb-xxl-auto {
    margin-bottom: auto;
  }
  .ms-xxl-0 {
    margin-left: 0;
  }
  .ms-xxl-1 {
    margin-left: 0.25rem;
  }
  .ms-xxl-2 {
    margin-left: 0.5rem;
  }
  .ms-xxl-3 {
    margin-left: 1rem;
  }
  .ms-xxl-4 {
    margin-left: 1.5rem;
  }
  .ms-xxl-5 {
    margin-left: 3rem;
  }
  .ms-xxl-auto {
    margin-left: auto;
  }
  .me-xxl-0 {
    margin-right: 0;
  }
  .me-xxl-1 {
    margin-right: 0.25rem;
  }
  .me-xxl-2 {
    margin-right: 0.5rem;
  }
  .me-xxl-3 {
    margin-right: 1rem;
  }
  .me-xxl-4 {
    margin-right: 1.5rem;
  }
  .me-xxl-5 {
    margin-right: 3rem;
  }
  .me-xxl-auto {
    margin-right: auto;
  }
  .mx-xxl-0,
  .m-xxl-0 {
    margin-left: 0;
    margin-right: 0;
  }
  .mx-xxl-1,
  .m-xxl-1 {
    margin-left: 0.25rem;
    margin-right: 0.25rem;
  }
  .mx-xxl-2,
  .m-xxl-2 {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
  }
  .mx-xxl-3,
  .m-xxl-3 {
    margin-left: 1rem;
    margin-right: 1rem;
  }
  .mx-xxl-4,
  .m-xxl-4 {
    margin-left: 1.5rem;
    margin-right: 1.5rem;
  }
  .mx-xxl-5,
  .m-xxl-5 {
    margin-left: 3rem;
    margin-right: 3rem;
  }
  .mx-xxl-auto,
  .m-xxl-auto {
    margin-left: auto;
    margin-right: auto;
  }
  .my-xxl-0,
  .m-xxl-0 {
    margin-top: 0;
    margin-bottom: 0;
  }
  .my-xxl-1,
  .m-xxl-1 {
    margin-top: 0.25rem;
    margin-bottom: 0.25rem;
  }
  .my-xxl-2,
  .m-xxl-2 {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
  }
  .my-xxl-3,
  .m-xxl-3 {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
  .my-xxl-4,
  .m-xxl-4 {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
  }
  .my-xxl-5,
  .m-xxl-5 {
    margin-top: 3rem;
    margin-bottom: 3rem;
  }
  .my-xxl-auto,
  .m-xxl-auto {
    margin-top: auto;
    margin-bottom: auto;
  }
}

@media (min-width: 0) {
  .pt-0,
  .pt-xs-0 {
    padding-top: 0;
  }
  .pt-1,
  .pt-xs-1 {
    padding-top: 0.25rem;
  }
  .pt-2,
  .pt-xs-2 {
    padding-top: 0.5rem;
  }
  .pt-3,
  .pt-xs-3 {
    padding-top: 1rem;
  }
  .pt-4,
  .pt-xs-4 {
    padding-top: 1.5rem;
  }
  .pt-5,
  .pt-xs-5 {
    padding-top: 3rem;
  }
  .pt-auto,
  .pt-xs-auto {
    padding-top: auto;
  }
  .pb-0,
  .pb-xs-0 {
    padding-bottom: 0;
  }
  .pb-1,
  .pb-xs-1 {
    padding-bottom: 0.25rem;
  }
  .pb-2,
  .pb-xs-2 {
    padding-bottom: 0.5rem;
  }
  .pb-3,
  .pb-xs-3 {
    padding-bottom: 1rem;
  }
  .pb-4,
  .pb-xs-4 {
    padding-bottom: 1.5rem;
  }
  .pb-5,
  .pb-xs-5 {
    padding-bottom: 3rem;
  }
  .pb-auto,
  .pb-xs-auto {
    padding-bottom: auto;
  }
  .ps-0,
  .ps-xs-0 {
    padding-left: 0;
  }
  .ps-1,
  .ps-xs-1 {
    padding-left: 0.25rem;
  }
  .ps-2,
  .ps-xs-2 {
    padding-left: 0.5rem;
  }
  .ps-3,
  .ps-xs-3 {
    padding-left: 1rem;
  }
  .ps-4,
  .ps-xs-4 {
    padding-left: 1.5rem;
  }
  .ps-5,
  .ps-xs-5 {
    padding-left: 3rem;
  }
  .ps-auto,
  .ps-xs-auto {
    padding-left: auto;
  }
  .pe-0,
  .pe-xs-0 {
    padding-right: 0;
  }
  .pe-1,
  .pe-xs-1 {
    padding-right: 0.25rem;
  }
  .pe-2,
  .pe-xs-2 {
    padding-right: 0.5rem;
  }
  .pe-3,
  .pe-xs-3 {
    padding-right: 1rem;
  }
  .pe-4,
  .pe-xs-4 {
    padding-right: 1.5rem;
  }
  .pe-5,
  .pe-xs-5 {
    padding-right: 3rem;
  }
  .pe-auto,
  .pe-xs-auto {
    padding-right: auto;
  }
  .px-0,
  .px-xs-0,
  .p-0,
  .p-xs-0 {
    padding-left: 0;
    padding-right: 0;
  }
  .px-1,
  .px-xs-1,
  .p-1,
  .p-xs-1 {
    padding-left: 0.25rem;
    padding-right: 0.25rem;
  }
  .px-2,
  .px-xs-2,
  .p-2,
  .p-xs-2 {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }
  .px-3,
  .px-xs-3,
  .p-3,
  .p-xs-3 {
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .px-4,
  .px-xs-4,
  .p-4,
  .p-xs-4 {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
  .px-5,
  .px-xs-5,
  .p-5,
  .p-xs-5 {
    padding-left: 3rem;
    padding-right: 3rem;
  }
  .px-auto,
  .px-xs-auto,
  .p-auto,
  .p-xs-auto {
    padding-left: auto;
    padding-right: auto;
  }
  .py-0,
  .py-xs-0,
  .p-0,
  .p-xs-0 {
    padding-top: 0;
    padding-bottom: 0;
  }
  .py-1,
  .py-xs-1,
  .p-1,
  .p-xs-1 {
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
  }
  .py-2,
  .py-xs-2,
  .p-2,
  .p-xs-2 {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }
  .py-3,
  .py-xs-3,
  .p-3,
  .p-xs-3 {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
  .py-4,
  .py-xs-4,
  .p-4,
  .p-xs-4 {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
  }
  .py-5,
  .py-xs-5,
  .p-5,
  .p-xs-5 {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }
  .py-auto,
  .py-xs-auto,
  .p-auto,
  .p-xs-auto {
    padding-top: auto;
    padding-bottom: auto;
  }
}

@media (min-width: 576px) {
  .pt-sm-0 {
    padding-top: 0;
  }
  .pt-sm-1 {
    padding-top: 0.25rem;
  }
  .pt-sm-2 {
    padding-top: 0.5rem;
  }
  .pt-sm-3 {
    padding-top: 1rem;
  }
  .pt-sm-4 {
    padding-top: 1.5rem;
  }
  .pt-sm-5 {
    padding-top: 3rem;
  }
  .pt-sm-auto {
    padding-top: auto;
  }
  .pb-sm-0 {
    padding-bottom: 0;
  }
  .pb-sm-1 {
    padding-bottom: 0.25rem;
  }
  .pb-sm-2 {
    padding-bottom: 0.5rem;
  }
  .pb-sm-3 {
    padding-bottom: 1rem;
  }
  .pb-sm-4 {
    padding-bottom: 1.5rem;
  }
  .pb-sm-5 {
    padding-bottom: 3rem;
  }
  .pb-sm-auto {
    padding-bottom: auto;
  }
  .ps-sm-0 {
    padding-left: 0;
  }
  .ps-sm-1 {
    padding-left: 0.25rem;
  }
  .ps-sm-2 {
    padding-left: 0.5rem;
  }
  .ps-sm-3 {
    padding-left: 1rem;
  }
  .ps-sm-4 {
    padding-left: 1.5rem;
  }
  .ps-sm-5 {
    padding-left: 3rem;
  }
  .ps-sm-auto {
    padding-left: auto;
  }
  .pe-sm-0 {
    padding-right: 0;
  }
  .pe-sm-1 {
    padding-right: 0.25rem;
  }
  .pe-sm-2 {
    padding-right: 0.5rem;
  }
  .pe-sm-3 {
    padding-right: 1rem;
  }
  .pe-sm-4 {
    padding-right: 1.5rem;
  }
  .pe-sm-5 {
    padding-right: 3rem;
  }
  .pe-sm-auto {
    padding-right: auto;
  }
  .px-sm-0,
  .p-sm-0 {
    padding-left: 0;
    padding-right: 0;
  }
  .px-sm-1,
  .p-sm-1 {
    padding-left: 0.25rem;
    padding-right: 0.25rem;
  }
  .px-sm-2,
  .p-sm-2 {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }
  .px-sm-3,
  .p-sm-3 {
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .px-sm-4,
  .p-sm-4 {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
  .px-sm-5,
  .p-sm-5 {
    padding-left: 3rem;
    padding-right: 3rem;
  }
  .px-sm-auto,
  .p-sm-auto {
    padding-left: auto;
    padding-right: auto;
  }
  .py-sm-0,
  .p-sm-0 {
    padding-top: 0;
    padding-bottom: 0;
  }
  .py-sm-1,
  .p-sm-1 {
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
  }
  .py-sm-2,
  .p-sm-2 {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }
  .py-sm-3,
  .p-sm-3 {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
  .py-sm-4,
  .p-sm-4 {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
  }
  .py-sm-5,
  .p-sm-5 {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }
  .py-sm-auto,
  .p-sm-auto {
    padding-top: auto;
    padding-bottom: auto;
  }
}

@media (min-width: 768px) {
  .pt-md-0 {
    padding-top: 0;
  }
  .pt-md-1 {
    padding-top: 0.25rem;
  }
  .pt-md-2 {
    padding-top: 0.5rem;
  }
  .pt-md-3 {
    padding-top: 1rem;
  }
  .pt-md-4 {
    padding-top: 1.5rem;
  }
  .pt-md-5 {
    padding-top: 3rem;
  }
  .pt-md-auto {
    padding-top: auto;
  }
  .pb-md-0 {
    padding-bottom: 0;
  }
  .pb-md-1 {
    padding-bottom: 0.25rem;
  }
  .pb-md-2 {
    padding-bottom: 0.5rem;
  }
  .pb-md-3 {
    padding-bottom: 1rem;
  }
  .pb-md-4 {
    padding-bottom: 1.5rem;
  }
  .pb-md-5 {
    padding-bottom: 3rem;
  }
  .pb-md-auto {
    padding-bottom: auto;
  }
  .ps-md-0 {
    padding-left: 0;
  }
  .ps-md-1 {
    padding-left: 0.25rem;
  }
  .ps-md-2 {
    padding-left: 0.5rem;
  }
  .ps-md-3 {
    padding-left: 1rem;
  }
  .ps-md-4 {
    padding-left: 1.5rem;
  }
  .ps-md-5 {
    padding-left: 3rem;
  }
  .ps-md-auto {
    padding-left: auto;
  }
  .pe-md-0 {
    padding-right: 0;
  }
  .pe-md-1 {
    padding-right: 0.25rem;
  }
  .pe-md-2 {
    padding-right: 0.5rem;
  }
  .pe-md-3 {
    padding-right: 1rem;
  }
  .pe-md-4 {
    padding-right: 1.5rem;
  }
  .pe-md-5 {
    padding-right: 3rem;
  }
  .pe-md-auto {
    padding-right: auto;
  }
  .px-md-0,
  .p-md-0 {
    padding-left: 0;
    padding-right: 0;
  }
  .px-md-1,
  .p-md-1 {
    padding-left: 0.25rem;
    padding-right: 0.25rem;
  }
  .px-md-2,
  .p-md-2 {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }
  .px-md-3,
  .p-md-3 {
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .px-md-4,
  .p-md-4 {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
  .px-md-5,
  .p-md-5 {
    padding-left: 3rem;
    padding-right: 3rem;
  }
  .px-md-auto,
  .p-md-auto {
    padding-left: auto;
    padding-right: auto;
  }
  .py-md-0,
  .p-md-0 {
    padding-top: 0;
    padding-bottom: 0;
  }
  .py-md-1,
  .p-md-1 {
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
  }
  .py-md-2,
  .p-md-2 {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }
  .py-md-3,
  .p-md-3 {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
  .py-md-4,
  .p-md-4 {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
  }
  .py-md-5,
  .p-md-5 {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }
  .py-md-auto,
  .p-md-auto {
    padding-top: auto;
    padding-bottom: auto;
  }
}

@media (min-width: 992px) {
  .pt-lg-0 {
    padding-top: 0;
  }
  .pt-lg-1 {
    padding-top: 0.25rem;
  }
  .pt-lg-2 {
    padding-top: 0.5rem;
  }
  .pt-lg-3 {
    padding-top: 1rem;
  }
  .pt-lg-4 {
    padding-top: 1.5rem;
  }
  .pt-lg-5 {
    padding-top: 3rem;
  }
  .pt-lg-auto {
    padding-top: auto;
  }
  .pb-lg-0 {
    padding-bottom: 0;
  }
  .pb-lg-1 {
    padding-bottom: 0.25rem;
  }
  .pb-lg-2 {
    padding-bottom: 0.5rem;
  }
  .pb-lg-3 {
    padding-bottom: 1rem;
  }
  .pb-lg-4 {
    padding-bottom: 1.5rem;
  }
  .pb-lg-5 {
    padding-bottom: 3rem;
  }
  .pb-lg-auto {
    padding-bottom: auto;
  }
  .ps-lg-0 {
    padding-left: 0;
  }
  .ps-lg-1 {
    padding-left: 0.25rem;
  }
  .ps-lg-2 {
    padding-left: 0.5rem;
  }
  .ps-lg-3 {
    padding-left: 1rem;
  }
  .ps-lg-4 {
    padding-left: 1.5rem;
  }
  .ps-lg-5 {
    padding-left: 3rem;
  }
  .ps-lg-auto {
    padding-left: auto;
  }
  .pe-lg-0 {
    padding-right: 0;
  }
  .pe-lg-1 {
    padding-right: 0.25rem;
  }
  .pe-lg-2 {
    padding-right: 0.5rem;
  }
  .pe-lg-3 {
    padding-right: 1rem;
  }
  .pe-lg-4 {
    padding-right: 1.5rem;
  }
  .pe-lg-5 {
    padding-right: 3rem;
  }
  .pe-lg-auto {
    padding-right: auto;
  }
  .px-lg-0,
  .p-lg-0 {
    padding-left: 0;
    padding-right: 0;
  }
  .px-lg-1,
  .p-lg-1 {
    padding-left: 0.25rem;
    padding-right: 0.25rem;
  }
  .px-lg-2,
  .p-lg-2 {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }
  .px-lg-3,
  .p-lg-3 {
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .px-lg-4,
  .p-lg-4 {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
  .px-lg-5,
  .p-lg-5 {
    padding-left: 3rem;
    padding-right: 3rem;
  }
  .px-lg-auto,
  .p-lg-auto {
    padding-left: auto;
    padding-right: auto;
  }
  .py-lg-0,
  .p-lg-0 {
    padding-top: 0;
    padding-bottom: 0;
  }
  .py-lg-1,
  .p-lg-1 {
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
  }
  .py-lg-2,
  .p-lg-2 {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }
  .py-lg-3,
  .p-lg-3 {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
  .py-lg-4,
  .p-lg-4 {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
  }
  .py-lg-5,
  .p-lg-5 {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }
  .py-lg-auto,
  .p-lg-auto {
    padding-top: auto;
    padding-bottom: auto;
  }
}

@media (min-width: 1200px) {
  .pt-xl-0 {
    padding-top: 0;
  }
  .pt-xl-1 {
    padding-top: 0.25rem;
  }
  .pt-xl-2 {
    padding-top: 0.5rem;
  }
  .pt-xl-3 {
    padding-top: 1rem;
  }
  .pt-xl-4 {
    padding-top: 1.5rem;
  }
  .pt-xl-5 {
    padding-top: 3rem;
  }
  .pt-xl-auto {
    padding-top: auto;
  }
  .pb-xl-0 {
    padding-bottom: 0;
  }
  .pb-xl-1 {
    padding-bottom: 0.25rem;
  }
  .pb-xl-2 {
    padding-bottom: 0.5rem;
  }
  .pb-xl-3 {
    padding-bottom: 1rem;
  }
  .pb-xl-4 {
    padding-bottom: 1.5rem;
  }
  .pb-xl-5 {
    padding-bottom: 3rem;
  }
  .pb-xl-auto {
    padding-bottom: auto;
  }
  .ps-xl-0 {
    padding-left: 0;
  }
  .ps-xl-1 {
    padding-left: 0.25rem;
  }
  .ps-xl-2 {
    padding-left: 0.5rem;
  }
  .ps-xl-3 {
    padding-left: 1rem;
  }
  .ps-xl-4 {
    padding-left: 1.5rem;
  }
  .ps-xl-5 {
    padding-left: 3rem;
  }
  .ps-xl-auto {
    padding-left: auto;
  }
  .pe-xl-0 {
    padding-right: 0;
  }
  .pe-xl-1 {
    padding-right: 0.25rem;
  }
  .pe-xl-2 {
    padding-right: 0.5rem;
  }
  .pe-xl-3 {
    padding-right: 1rem;
  }
  .pe-xl-4 {
    padding-right: 1.5rem;
  }
  .pe-xl-5 {
    padding-right: 3rem;
  }
  .pe-xl-auto {
    padding-right: auto;
  }
  .px-xl-0,
  .p-xl-0 {
    padding-left: 0;
    padding-right: 0;
  }
  .px-xl-1,
  .p-xl-1 {
    padding-left: 0.25rem;
    padding-right: 0.25rem;
  }
  .px-xl-2,
  .p-xl-2 {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }
  .px-xl-3,
  .p-xl-3 {
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .px-xl-4,
  .p-xl-4 {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
  .px-xl-5,
  .p-xl-5 {
    padding-left: 3rem;
    padding-right: 3rem;
  }
  .px-xl-auto,
  .p-xl-auto {
    padding-left: auto;
    padding-right: auto;
  }
  .py-xl-0,
  .p-xl-0 {
    padding-top: 0;
    padding-bottom: 0;
  }
  .py-xl-1,
  .p-xl-1 {
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
  }
  .py-xl-2,
  .p-xl-2 {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }
  .py-xl-3,
  .p-xl-3 {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
  .py-xl-4,
  .p-xl-4 {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
  }
  .py-xl-5,
  .p-xl-5 {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }
  .py-xl-auto,
  .p-xl-auto {
    padding-top: auto;
    padding-bottom: auto;
  }
}

@media (min-width: 1400px) {
  .pt-xxl-0 {
    padding-top: 0;
  }
  .pt-xxl-1 {
    padding-top: 0.25rem;
  }
  .pt-xxl-2 {
    padding-top: 0.5rem;
  }
  .pt-xxl-3 {
    padding-top: 1rem;
  }
  .pt-xxl-4 {
    padding-top: 1.5rem;
  }
  .pt-xxl-5 {
    padding-top: 3rem;
  }
  .pt-xxl-auto {
    padding-top: auto;
  }
  .pb-xxl-0 {
    padding-bottom: 0;
  }
  .pb-xxl-1 {
    padding-bottom: 0.25rem;
  }
  .pb-xxl-2 {
    padding-bottom: 0.5rem;
  }
  .pb-xxl-3 {
    padding-bottom: 1rem;
  }
  .pb-xxl-4 {
    padding-bottom: 1.5rem;
  }
  .pb-xxl-5 {
    padding-bottom: 3rem;
  }
  .pb-xxl-auto {
    padding-bottom: auto;
  }
  .ps-xxl-0 {
    padding-left: 0;
  }
  .ps-xxl-1 {
    padding-left: 0.25rem;
  }
  .ps-xxl-2 {
    padding-left: 0.5rem;
  }
  .ps-xxl-3 {
    padding-left: 1rem;
  }
  .ps-xxl-4 {
    padding-left: 1.5rem;
  }
  .ps-xxl-5 {
    padding-left: 3rem;
  }
  .ps-xxl-auto {
    padding-left: auto;
  }
  .pe-xxl-0 {
    padding-right: 0;
  }
  .pe-xxl-1 {
    padding-right: 0.25rem;
  }
  .pe-xxl-2 {
    padding-right: 0.5rem;
  }
  .pe-xxl-3 {
    padding-right: 1rem;
  }
  .pe-xxl-4 {
    padding-right: 1.5rem;
  }
  .pe-xxl-5 {
    padding-right: 3rem;
  }
  .pe-xxl-auto {
    padding-right: auto;
  }
  .px-xxl-0,
  .p-xxl-0 {
    padding-left: 0;
    padding-right: 0;
  }
  .px-xxl-1,
  .p-xxl-1 {
    padding-left: 0.25rem;
    padding-right: 0.25rem;
  }
  .px-xxl-2,
  .p-xxl-2 {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }
  .px-xxl-3,
  .p-xxl-3 {
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .px-xxl-4,
  .p-xxl-4 {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
  .px-xxl-5,
  .p-xxl-5 {
    padding-left: 3rem;
    padding-right: 3rem;
  }
  .px-xxl-auto,
  .p-xxl-auto {
    padding-left: auto;
    padding-right: auto;
  }
  .py-xxl-0,
  .p-xxl-0 {
    padding-top: 0;
    padding-bottom: 0;
  }
  .py-xxl-1,
  .p-xxl-1 {
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
  }
  .py-xxl-2,
  .p-xxl-2 {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }
  .py-xxl-3,
  .p-xxl-3 {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
  .py-xxl-4,
  .p-xxl-4 {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
  }
  .py-xxl-5,
  .p-xxl-5 {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }
  .py-xxl-auto,
  .p-xxl-auto {
    padding-top: auto;
    padding-bottom: auto;
  }
}

@media (min-width: 0) {
  .ta-xs-center,
  .ta-name {
    text-align: center;
  }
  .ta-xs-start,
  .ta-name {
    text-align: left;
  }
  .ta-xs-end,
  .ta-name {
    text-align: right;
  }
  .ts-xs-8,
  .ts-8 {
    font-size: 8px;
  }
  .ts-xs-10,
  .ts-10 {
    font-size: 10px;
  }
  .ts-xs-12,
  .ts-12 {
    font-size: 12px;
  }
  .ts-xs-14,
  .ts-14 {
    font-size: 14px;
  }
  .ts-xs-16,
  .ts-16 {
    font-size: 16px;
  }
  .ts-xs-18,
  .ts-18 {
    font-size: 18px;
  }
  .ts-xs-20,
  .ts-20 {
    font-size: 20px;
  }
  .ts-xs-22,
  .ts-22 {
    font-size: 22px;
  }
  .ts-xs-24,
  .ts-24 {
    font-size: 24px;
  }
  .ts-xs-26,
  .ts-26 {
    font-size: 26px;
  }
  .ts-xs-28,
  .ts-28 {
    font-size: 28px;
  }
  .ts-xs-30,
  .ts-30 {
    font-size: 30px;
  }
  .ts-xs-32,
  .ts-32 {
    font-size: 32px;
  }
  .ts-xs-34,
  .ts-34 {
    font-size: 34px;
  }
  .ts-xs-36,
  .ts-36 {
    font-size: 36px;
  }
  .ts-xs-38,
  .ts-38 {
    font-size: 38px;
  }
  .ts-xs-40,
  .ts-40 {
    font-size: 40px;
  }
  .tw-xs-100,
  .tw-100 {
    font-weight: 100;
  }
  .tw-xs-200,
  .tw-200 {
    font-weight: 200;
  }
  .tw-xs-300,
  .tw-300 {
    font-weight: 300;
  }
  .tw-xs-400,
  .tw-400 {
    font-weight: 400;
  }
  .tw-xs-500,
  .tw-500 {
    font-weight: 500;
  }
  .tw-xs-600,
  .tw-600 {
    font-weight: 600;
  }
  .tw-xs-700,
  .tw-700 {
    font-weight: 700;
  }
  .tw-xs-800,
  .tw-800 {
    font-weight: 800;
  }
  .tw-xs-900,
  .tw-900 {
    font-weight: 900;
  }
  .tc-xs-white,
  .tc-white {
    color: #ffffff;
  }
  .tc-xs-black,
  .tc-black {
    color: #000000;
  }
}

@media (min-width: 576px) {
  .ta-sm-center {
    text-align: center;
  }
  .ta-sm-start {
    text-align: left;
  }
  .ta-sm-end {
    text-align: right;
  }
  .ts-sm-8 {
    font-size: 8px;
  }
  .ts-sm-10 {
    font-size: 10px;
  }
  .ts-sm-12 {
    font-size: 12px;
  }
  .ts-sm-14 {
    font-size: 14px;
  }
  .ts-sm-16 {
    font-size: 16px;
  }
  .ts-sm-18 {
    font-size: 18px;
  }
  .ts-sm-20 {
    font-size: 20px;
  }
  .ts-sm-22 {
    font-size: 22px;
  }
  .ts-sm-24 {
    font-size: 24px;
  }
  .ts-sm-26 {
    font-size: 26px;
  }
  .ts-sm-28 {
    font-size: 28px;
  }
  .ts-sm-30 {
    font-size: 30px;
  }
  .ts-sm-32 {
    font-size: 32px;
  }
  .ts-sm-34 {
    font-size: 34px;
  }
  .ts-sm-36 {
    font-size: 36px;
  }
  .ts-sm-38 {
    font-size: 38px;
  }
  .ts-sm-40 {
    font-size: 40px;
  }
  .tw-sm-100 {
    font-weight: 100;
  }
  .tw-sm-200 {
    font-weight: 200;
  }
  .tw-sm-300 {
    font-weight: 300;
  }
  .tw-sm-400 {
    font-weight: 400;
  }
  .tw-sm-500 {
    font-weight: 500;
  }
  .tw-sm-600 {
    font-weight: 600;
  }
  .tw-sm-700 {
    font-weight: 700;
  }
  .tw-sm-800 {
    font-weight: 800;
  }
  .tw-sm-900 {
    font-weight: 900;
  }
  .tc-sm-white {
    color: #ffffff;
  }
  .tc-sm-black {
    color: #000000;
  }
}

@media (min-width: 768px) {
  .ta-md-center {
    text-align: center;
  }
  .ta-md-start {
    text-align: left;
  }
  .ta-md-end {
    text-align: right;
  }
  .ts-md-8 {
    font-size: 8px;
  }
  .ts-md-10 {
    font-size: 10px;
  }
  .ts-md-12 {
    font-size: 12px;
  }
  .ts-md-14 {
    font-size: 14px;
  }
  .ts-md-16 {
    font-size: 16px;
  }
  .ts-md-18 {
    font-size: 18px;
  }
  .ts-md-20 {
    font-size: 20px;
  }
  .ts-md-22 {
    font-size: 22px;
  }
  .ts-md-24 {
    font-size: 24px;
  }
  .ts-md-26 {
    font-size: 26px;
  }
  .ts-md-28 {
    font-size: 28px;
  }
  .ts-md-30 {
    font-size: 30px;
  }
  .ts-md-32 {
    font-size: 32px;
  }
  .ts-md-34 {
    font-size: 34px;
  }
  .ts-md-36 {
    font-size: 36px;
  }
  .ts-md-38 {
    font-size: 38px;
  }
  .ts-md-40 {
    font-size: 40px;
  }
  .tw-md-100 {
    font-weight: 100;
  }
  .tw-md-200 {
    font-weight: 200;
  }
  .tw-md-300 {
    font-weight: 300;
  }
  .tw-md-400 {
    font-weight: 400;
  }
  .tw-md-500 {
    font-weight: 500;
  }
  .tw-md-600 {
    font-weight: 600;
  }
  .tw-md-700 {
    font-weight: 700;
  }
  .tw-md-800 {
    font-weight: 800;
  }
  .tw-md-900 {
    font-weight: 900;
  }
  .tc-md-white {
    color: #ffffff;
  }
  .tc-md-black {
    color: #000000;
  }
}

@media (min-width: 992px) {
  .ta-lg-center {
    text-align: center;
  }
  .ta-lg-start {
    text-align: left;
  }
  .ta-lg-end {
    text-align: right;
  }
  .ts-lg-8 {
    font-size: 8px;
  }
  .ts-lg-10 {
    font-size: 10px;
  }
  .ts-lg-12 {
    font-size: 12px;
  }
  .ts-lg-14 {
    font-size: 14px;
  }
  .ts-lg-16 {
    font-size: 16px;
  }
  .ts-lg-18 {
    font-size: 18px;
  }
  .ts-lg-20 {
    font-size: 20px;
  }
  .ts-lg-22 {
    font-size: 22px;
  }
  .ts-lg-24 {
    font-size: 24px;
  }
  .ts-lg-26 {
    font-size: 26px;
  }
  .ts-lg-28 {
    font-size: 28px;
  }
  .ts-lg-30 {
    font-size: 30px;
  }
  .ts-lg-32 {
    font-size: 32px;
  }
  .ts-lg-34 {
    font-size: 34px;
  }
  .ts-lg-36 {
    font-size: 36px;
  }
  .ts-lg-38 {
    font-size: 38px;
  }
  .ts-lg-40 {
    font-size: 40px;
  }
  .tw-lg-100 {
    font-weight: 100;
  }
  .tw-lg-200 {
    font-weight: 200;
  }
  .tw-lg-300 {
    font-weight: 300;
  }
  .tw-lg-400 {
    font-weight: 400;
  }
  .tw-lg-500 {
    font-weight: 500;
  }
  .tw-lg-600 {
    font-weight: 600;
  }
  .tw-lg-700 {
    font-weight: 700;
  }
  .tw-lg-800 {
    font-weight: 800;
  }
  .tw-lg-900 {
    font-weight: 900;
  }
  .tc-lg-white {
    color: #ffffff;
  }
  .tc-lg-black {
    color: #000000;
  }
}

@media (min-width: 1200px) {
  .ta-xl-center {
    text-align: center;
  }
  .ta-xl-start {
    text-align: left;
  }
  .ta-xl-end {
    text-align: right;
  }
  .ts-xl-8 {
    font-size: 8px;
  }
  .ts-xl-10 {
    font-size: 10px;
  }
  .ts-xl-12 {
    font-size: 12px;
  }
  .ts-xl-14 {
    font-size: 14px;
  }
  .ts-xl-16 {
    font-size: 16px;
  }
  .ts-xl-18 {
    font-size: 18px;
  }
  .ts-xl-20 {
    font-size: 20px;
  }
  .ts-xl-22 {
    font-size: 22px;
  }
  .ts-xl-24 {
    font-size: 24px;
  }
  .ts-xl-26 {
    font-size: 26px;
  }
  .ts-xl-28 {
    font-size: 28px;
  }
  .ts-xl-30 {
    font-size: 30px;
  }
  .ts-xl-32 {
    font-size: 32px;
  }
  .ts-xl-34 {
    font-size: 34px;
  }
  .ts-xl-36 {
    font-size: 36px;
  }
  .ts-xl-38 {
    font-size: 38px;
  }
  .ts-xl-40 {
    font-size: 40px;
  }
  .tw-xl-100 {
    font-weight: 100;
  }
  .tw-xl-200 {
    font-weight: 200;
  }
  .tw-xl-300 {
    font-weight: 300;
  }
  .tw-xl-400 {
    font-weight: 400;
  }
  .tw-xl-500 {
    font-weight: 500;
  }
  .tw-xl-600 {
    font-weight: 600;
  }
  .tw-xl-700 {
    font-weight: 700;
  }
  .tw-xl-800 {
    font-weight: 800;
  }
  .tw-xl-900 {
    font-weight: 900;
  }
  .tc-xl-white {
    color: #ffffff;
  }
  .tc-xl-black {
    color: #000000;
  }
}

@media (min-width: 1400px) {
  .ta-xxl-center {
    text-align: center;
  }
  .ta-xxl-start {
    text-align: left;
  }
  .ta-xxl-end {
    text-align: right;
  }
  .ts-xxl-8 {
    font-size: 8px;
  }
  .ts-xxl-10 {
    font-size: 10px;
  }
  .ts-xxl-12 {
    font-size: 12px;
  }
  .ts-xxl-14 {
    font-size: 14px;
  }
  .ts-xxl-16 {
    font-size: 16px;
  }
  .ts-xxl-18 {
    font-size: 18px;
  }
  .ts-xxl-20 {
    font-size: 20px;
  }
  .ts-xxl-22 {
    font-size: 22px;
  }
  .ts-xxl-24 {
    font-size: 24px;
  }
  .ts-xxl-26 {
    font-size: 26px;
  }
  .ts-xxl-28 {
    font-size: 28px;
  }
  .ts-xxl-30 {
    font-size: 30px;
  }
  .ts-xxl-32 {
    font-size: 32px;
  }
  .ts-xxl-34 {
    font-size: 34px;
  }
  .ts-xxl-36 {
    font-size: 36px;
  }
  .ts-xxl-38 {
    font-size: 38px;
  }
  .ts-xxl-40 {
    font-size: 40px;
  }
  .tw-xxl-100 {
    font-weight: 100;
  }
  .tw-xxl-200 {
    font-weight: 200;
  }
  .tw-xxl-300 {
    font-weight: 300;
  }
  .tw-xxl-400 {
    font-weight: 400;
  }
  .tw-xxl-500 {
    font-weight: 500;
  }
  .tw-xxl-600 {
    font-weight: 600;
  }
  .tw-xxl-700 {
    font-weight: 700;
  }
  .tw-xxl-800 {
    font-weight: 800;
  }
  .tw-xxl-900 {
    font-weight: 900;
  }
  .tc-xxl-white {
    color: #ffffff;
  }
  .tc-xxl-black {
    color: #000000;
  }
}

.hs {
  content: 87;
  content: 72.5;
  content: 58;
  content: 43.5;
  content: 29;
  content: 14.5;
}

@font-face {
  font-family: "OpenSans";
  src: url("../../../public/fonts/OpenSans/OpenSans-200.ttf");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "OpenSans";
  src: url("../../../public/fonts/OpenSans/OpenSans-300.ttf");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "OpenSans";
  src: url("../../../public/fonts/OpenSans/OpenSans-400.ttf");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "OpenSans";
  src: url("../../../public/fonts/OpenSans/OpenSans-500.ttf");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "OpenSans";
  src: url("../../../public/fonts/OpenSans/OpenSans-600.ttf");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "OpenSans";
  src: url("../../../public/fonts/OpenSans/OpenSans-700.ttf");
  font-weight: 700;
  font-style: normal;
}

p,
span,
label,
h1,
h2,
h3,
h4,
h5,
h6,
b,
a,
button,
input,
textarea,
select,
strong,
small,
li,
ol,
ul {
  font-family: OpenSans, sans-serif;
  line-height: 1.2;
}

body {
  padding-top: 430px;
}

.news img {
  display: block;
}

.news-box {
  position: relative;
}
.news-box--main .news-image {
  height: 260px;
  margin-bottom: 10px;
}
.news-box--offer {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 170px;
  padding: 20px;
  border-radius: 15px;
}
.news-box--offer[data-style="1"] {
  background: linear-gradient(45deg, #006fff, #58dfff);
}
.news-box--offer[data-style="2"] {
  background: linear-gradient(45deg, #00ccc6, #29ec8e);
}
.news-box--offer[data-style="3"] {
  background: linear-gradient(45deg, #ffd33d, #ff7311);
}
.news-box--offer[data-style="4"] {
  background: linear-gradient(45deg, #8c19ff, #5f93ff);
}
.news-box--offer[data-offer]:after {
  content: "";
  display: block;
  position: absolute;
  right: 20px;
  top: 20px;
  width: 40px;
  height: 40px;
}
.news-box--offer[data-offer="gift"]:after {
  background: url("../../../public/img/icons/ico-gift.png") center/cover no-repeat;
}
.news-box--offer[data-offer="sale"]:after {
  background: url("../../../public/img/icons/ico-sale.png") center/cover no-repeat;
}
.news-box--offer[data-offer="ticket"]:after {
  background: url("../../../public/img/icons/ico-ticket.png") center/cover no-repeat;
}
.news-box--photo .news-image {
  position: relative;
  height: 200px;
}
.news-box--photo .news-image:after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100px;
  left: 0;
  bottom: 0;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0), black);
}
.news-box--photo .news-text {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 20px;
}

.news-image {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  border-radius: 15px;
  overflow: hidden;
}
.news-image img {
  position: absolute;
  min-width: 100%;
  max-width: 200%;
  min-height: 100%;
  max-height: 200%;
}

.news-type {
  position: absolute;
  left: 20px;
  top: 20px;
  display: block;
  padding: 7px 10px;
  max-width: -webkit-fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content;
  font-size: 10px;
  color: #fff;
  border-radius: 10px 10px 10px 0;
}
.news-type[data-type="1"] {
  background: linear-gradient(to right, #30bb77, #83d718);
}
.news-type[data-type="2"] {
  background: linear-gradient(to right, #07dd7f, #0098c6);
}
.news-type[data-type="3"] {
  background: linear-gradient(to right, #e31872, #d13b4b);
}
.news-type[data-type="4"] {
  background: linear-gradient(to right, #b636ff, #8c27cb);
}
.news-type[data-type="5"] {
  background: linear-gradient(to right, #00abff, #020aff);
}

@media (min-width: 0) {
  .news--overflow {
    width: calc(100% + 30px);
    margin-left: -15px;
    padding: 0 15px;
    overflow: scroll;
  }
  .news--overflow[data-overflow="3"] .news-wrapper {
    min-width: calc(230px * 3);
  }
  .news--overflow[data-overflow="4"] .news-wrapper {
    min-width: calc(230px * 4);
  }
  .news--overflow[data-overflow="5"] .news-wrapper {
    min-width: calc(230px * 5);
  }
  .news-box--main .news-image,
  .news-box--photo .news-image {
    height: 130px;
  }
  .header {
    display: flex;
    height: 80px;
    align-items: center;
  }
  .header-row {
    display: flex;
    justify-content: space-between;
  }
  .header-logo img {
    display: block;
    width: 100px;
  }
  .header-toggle {
    position: relative;
    width: 50px;
    height: 50px;
  }
  .header-btns,
  .header-routes {
    display: none;
  }
  .toggle {
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    height: 100%;
    padding: 13px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: white;
    transition: all 0.6s cubic-bezier(0.25, 1, 0.5, 1);
  }
  .toggle-cover {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
  }
  .toggle-checkbox {
    display: none;
  }
  .toggle-checkbox:checked + div i:nth-of-type(1) {
    top: 7px;
    background: #000;
    transform: rotate(45deg);
    transition: top 0.3s cubic-bezier(0.23, 1, 0.32, 1), transform 0.3s 0.3s cubic-bezier(0.23, 1, 0.32, 1), background 0.3s 0.3s cubic-bezier(0.23, 1, 0.32, 1);
  }
  .toggle-checkbox:checked + div i:nth-of-type(2) {
    opacity: 0;
  }
  .toggle-checkbox:checked + div i:nth-of-type(3) {
    bottom: 7px;
    background: #000;
    transform: rotate(-45deg);
    transition: bottom 0.3s cubic-bezier(0.23, 1, 0.32, 1), transform 0.3s 0.3s cubic-bezier(0.23, 1, 0.32, 1), background 0.3s 0.3s cubic-bezier(0.23, 1, 0.32, 1);
  }
  .toggle-button {
    position: relative;
    width: 23px;
    height: 16px;
  }
  .toggle-button i {
    position: absolute;
    width: 100%;
    height: 2px;
    background: #000;
  }
  .toggle-button i:nth-of-type(1) {
    top: 0;
    transform: rotate(0);
    transition: top 0.3s 0.3s cubic-bezier(0.23, 1, 0.32, 1), transform 0.3s cubic-bezier(0.23, 1, 0.32, 1);
  }
  .toggle-button i:nth-of-type(2) {
    transition: all 0.3s ease;
    transform: translateY(7px);
  }
  .toggle-button i:nth-of-type(3) {
    bottom: 0;
    transform: rotate(0);
    transition: bottom 0.3s 0.3s cubic-bezier(0.23, 1, 0.32, 1), transform 0.3s cubic-bezier(0.23, 1, 0.32, 1);
  }
  .nav {
    position: fixed;
    top: 80px;
    right: 0;
    width: 100%;
    height: calc(100% - 80px);
    background: #fff;
    transform: translateX(100%);
    z-index: 1000;
    transition: transform 0.8s cubic-bezier(0.25, 1, 0.5, 1);
  }
  .nav.active {
    transform: translateX(0);
  }
  .nav-wrapper {
    padding: 15px;
  }
  .nav-routes {
    display: flex;
    flex-direction: column;
  }
  .nav-link {
    display: flex;
    align-items: center;
    width: 100%;
    height: 40px;
    margin-bottom: 10px;
    padding: 10px;
    background: #e6e6e6;
  }
  .nav-link:last-child {
    margin-bottom: 0;
  }
}

@media (min-width: 576px) {
  .news--overflow {
    width: 100%;
    margin-left: 0;
    padding: 0;
    overflow: unset;
  }
  .news--overflow[data-overflow] .news-wrapper {
    min-width: 100%;
  }
  .news-box--main .news-image {
    height: 260px;
  }
  .news-box--photo .news-image {
    height: 200px;
  }
}

@media (min-width: 768px) {
  .section {
    padding: 25px 0;
  }
}

@media (min-width: 992px) {
  .header-toggle {
    display: none;
  }
  .header-btns,
  .header-routes {
    display: block;
  }
}
